/* début css header */
@import url("https://fonts.googleapis.com/css?family=Sacramento");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Sacramento, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    height: 20%; 
    /* 50vh */
    background-color: #AEDEC8;
    display: flex;
    flex-direction: column;


}
 .head{
    width: 100%;
    height: 80%;
 }  
nav {
    width: 100%;
    height: 35%;
    display: inline-flex;
    background: #AEDEC8;
    justify-content: space-around;
    align-items: center; 
    box-shadow: 0 3px 2px gray;
}

li a {
    list-style: none;
    font-size: 2.5em;
    color: black;
    text-decoration: none;
    text-shadow: 0 1px 1px gray;
}

.bar {
    display: inline-block;
    background: #AEDEC8;
    padding-left: 10vw;
    
}

nav img {
    width: 125px;
    height: 125px;
    box-shadow: none;
    

}

.img_head {
    min-width: 100%;
    max-height: 250px;
    box-shadow: none;
    background-size: cover;
    background-repeat: no-repeat;
}
/* fin css header*/

/* background image centre aiguilles du coeur*/

h1{
    font-size:2.2em;
    text-shadow: 0 1px 1px gray;
}
main{
    width: 100%;
    height: 1200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
section {
    background-image: url(Les\ Aiguilles\ Du\ Cœur\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:75%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1.5fr 0.5fr;
    grid-template-rows: repeat(7,1fr);
    grid-template-areas: 
    "un . deux ."
    "un . deux ."
    ". . . ."
    ". . . ."
    "trois . quatre ."
    "trois . quatre ."
    ". . . .";


}

.un {
    grid-area: un;
 
}

.lien {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: -23%; */
    color: black;
}
.crea {
    width: 100%;
    height: 100%;
    background-image: url(image/creation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #000000;
    box-shadow: 0 3px 2px gray;
    border-radius: 30px;
}

.deux {
    grid-area: deux;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: -30%;
    top: -23%; */
    
}



.tuto {
    width: 100%;
    height: 100%;
    background-image: url(image/tuto.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #000000;
    box-shadow: 0 3px 2px gray;
    border-radius: 30px;
}

.quatre {
    grid-area: quatre;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: -30%; */
   
    
}
.equipe {
    width: 100%;
    height: 100%;
    background-image: url(image/équipe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #000000;
    box-shadow: 0 3px 2px gray;
    border-radius: 30px;
}

.trois {
    grid-area: trois;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left:-30%; */
    
   
}
.patron {
    width: 100%;
    height: 100%;
    background-image: url(image/patron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #000000;
    box-shadow: 0 3px 2px gray;
    border-radius: 30px;
}

.lien{
    text-decoration: none;
    color:black;
}
/* background image centre aiguilles du coeur*/

/*debut footer*/

.contact {

    text-align: center;
    font-size: 2em;
    margin-bottom: -0.5em;
    font-weight: bold;
}

footer {
    font-family: Sacramento, Arial, Helvetica, sans-serif;
    background-color: #aedec8;
    text-align: center;
    text-shadow: 0 1px 1px gray;
    font-size: 2em;
}

.ireseaux> {
    list-style: none;
}

.lreseaux {
    display: inline-block;
    padding: 25px;
}

img {
    min-width: 2px;
    max-height: 75px;
    box-shadow: 0 3px 2px gray;
}

/*fin footer*/