@import url("https://fonts.googleapis.com/css?family=Sacramento");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* debut header*/

body {
    font-family: Sacramento, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}
h5{
    display: none;
}
.head {
    margin: 0;
    padding: 0;

}

nav {
    width: 100%;
    height: 10%;
    display: inline-flex;
    background: #AEDEC8;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 3px 2px gray;
}

li a {
    list-style: none;
    font-size: 2.5em;
    color: black;
    text-decoration: none;
    text-shadow: 0 1px 1px gray;
}

.bar {
    display: inline-block;
    background: #AEDEC8;
    padding-left: 10vw;
}

nav img {
    width: 125px;
    height: 125px;
    box-shadow: none;

}

/* fin header */

/*debut footer*/

.contact {

    text-align: center;
    font-size: 2em;
    margin-bottom: -0.5em;
    font-weight: bold;
}

footer {
    font-family: Sacramento, Arial, Helvetica, sans-serif;
    background-color: #aedec8;
    text-align: center;
    text-shadow: 0 1px 1px gray;
    font-size: 2em;
}

.ireseaux {
    list-style: none;
}

.lreseaux {
    display: inline-block;
    padding: 25px;
}

img {
    min-width: 2px;
    max-height: 75px;
    box-shadow: 0 3px 2px gray;
}

/*fin footer*/

/* début main */
main {
    height: 100%;
    width: 96%;
    background-color: #C5DAEF;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 100px;
    margin-top: 3px;
    

}

.sect_equipe {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect_nuage {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sect_nuage1 {

    background-image: url(../../nuage2.png);
    width: 1300px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
.sect_nuage2 {

    background-image: url(../../nuage2.png);
    width: 1300px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
h1 {
    text-align: center;
    font-size: 3em;
    margin-top: -30px;
}

.agnes {
    width: 100%;
    display: flex;
    justify-content: center;

}

.romain {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.at_agnes {
    background-image: url(../../image/équipe.jpg);
    width: 400px;
    height: 300px;
    background-size: cover;
    margin-right: 100px;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 0 3px 2px gray;
}

.at_romain {
    background-image: url(../../image/équipe.jpg);
    width: 400px;
    height: 300px;
    background-size: cover;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 0 3px 2px gray;
}

div>p {
    font-size: 2.5vw;
    margin-left: 10%;
    margin-right: 17%;

}

.nuage {
    background-image: url(../../nuage2.png);
    width: 1300px;
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nuage1 {
    background-image: url(../../nuage2.png);
    width: 900px;
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    font-size: 2.5vw;
    text-align: center;
    font-size: 2.5vw;
    margin-left: 15%;
    margin-right: 20%;
}

@media (min-width:660px) and (max-width:960px) {

    div>p {
        background-color: white;
        font-size: 2.5vw;
        margin-left: 15%;
        margin-right: 27%;


    }

    .nuage {
        background-image: url(../../nuage2.png);
        width: 850px;
        height: 450px;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

    }
   
}

@media (max-width:660px) {

    div>p {
        background-color: white;
        font-size: 2.5vw;
        margin-left: 15%;
        margin-right: 27%;


    }

    .nuage {
        background-image: url(../../nuage2.png);
        width: 500px;
        height: 250px;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
@media (max-width:1260px) {
    .sect_nuage1, .sect_nuage2 {
        max-width: 500px;
        max-height: 350px;
    }
    .sect_nuage1, .sect_nuage2{
        display: none;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .at_agnes{
        margin: 0px;
    }
}

@media (max-width:1000px) {
    .sect_nuage1, .sect_nuage2 {
        max-width: 300px;
        max-height: 200px;
    }
    
}

@media (max-width:620px) {
    .sect_nuage1, .sect_nuage2 {
        max-width: 300px;
        max-height: 200px;
    }
    body {
        background-color: #C5DAEF;
    }
}
@media (max-width:690px) {
    .box{
        background-color: #AEDEC8;
        position: relative;
    }
    .cont-lignes{
        width: 60px;
        height: 42px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }
    .lignes{
    
        width: 100%;
        height: 6px;
        border-radius: 5px;
        background-color: black;
        position: absolute;
        transition: all 0.5s ease-in-out;
    }
    .lignes:nth-child(1){
        top:0px;
    }
    .lignes:nth-child(2){
        top:18px;
    }
    .lignes:nth-child(3){
        top:36px;
    }
    .btn1.active .lignes:nth-child(1){
    top:18px;
    transform: rotate(135deg);
    }
    
    .btn1.active .lignes:nth-child(2){
    opacity: 0;
    transform: translateX(-20px);
    }
    .btn1.active .lignes:nth-child(3){
    top:18px;
    transform: rotate(-135deg);
    }
    
    nav{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "logo accueil burger";
    }
    
    .logo{
        grid-area: logo;
    }
    .accu{
        grid-area: accueil;
    }
    .box{
        grid-area: burger;
    }
    .smallScreen {
        display:none;
      }

}