* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    height: 100%;
    width: 96%;
    background-color: #C5DAEF;
    margin-left: 2%;

}

/*titre creation */

.sect_patron {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.sect_nuage {
    background-image: url(../../../nuage2.png);
    width: 1300px;
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
h1 {
    text-align: center;
    font-size: 3em;
}
.bg_patron {
    background-image: url(../photo/patron/mode-vetement-pour-enfants-5-robes-qui-tournent-pour-filles-robe-plissee.jpg);
    width: 450px;
    height: 270px;
    background-size: cover;
    
    
}

/*fin titre creation */


.robe1{
    background-image:url(../photo/patron/robe-babydoll-plancheF.jpg);
 
}


.bgi{
    background-repeat: no-repeat;
    background-size: cover;
    height:900px;
    width: 1200px;
    margin-bottom: 75px;
}

article{
    display:flex;
    justify-content: center;

}
.bg{
    border:2px solid black;
    box-shadow: 0 3px 2px gray;
    border-radius: 30px;
}

@media (max-width:1265px){
    .sect_nuage{
        background-image: none;
        height: 350px;
    }
    main{
        width: 100%;
        margin-left: 0;
        
    }

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .bgi{
        width: 600px;
    }
    .bg_patron{
        width: 600px;
        height: 350px;
    }
    div>p{
        background-color: none;
        font-size: 0;
        margin: 0;
        border-radius: 0;
    }
    .sect_nuage{
        height: 500px;
    }

}

@media (max-width:630px){
    .bgi{
        width: 380px;
    }
    .bg_patron{
        width: 380px;
    }
}