* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    height: 100%;
    width: 96%;
    background-color: #C5DAEF;
    margin-left: 2%;

}

/*titre creation */

.sect_patron {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.sect_nuage {
    background-image: url(../../../nuage2.png);
    width: 1300px;
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
h1 {
    text-align: center;
    font-size: 3em;
}
.bg_patron {
    background-image: url(../photo/patron/tamara-bellis-jYdRUFgba8k-unsplash.jpg);
    width: 450px;
    height: 270px;
    background-size: cover; 
}

/*fin titre creation */


.robe1{
    background-image:url(../photo/patron/jupe-en-veste-verte-plancheF.jpg); 
}


.bgi{
    background-repeat: no-repeat;
    background-size: cover;
    height:900px;
    width: 1300px;
    margin-bottom: 75px;
}

article{
    display:flex;
    justify-content: center;

}

.bg{
    border:2px solid black;
    box-shadow: 0 3px 2px gray;
    border-radius: 30px;
}

@media (max-width:1365px){
    .sect_nuage{
        background-image: none;
        height: 350px;
    }
    main{
        width: 100%;
        margin-left: 0;
        
    }

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .bgi{
        width: 700px;
    }
    
    .bg_patron{
        width: 700px;
        height: 350px;
    }
    div>p{
        background-color: none;
        font-size: 0;
        margin: 0;
        border-radius: 0;
    }
    .sect_nuage{
        height: 450px;
    }

}


@media(max-width:715px){

    .bgi{
        width: 350px;
    }
    
    .bg_patron{
        width: 350px;
        height: 250px;
    }
    .smallScreen {
        display:none;
      }
.box{
    background-color: #AEDEC8;
    position: relative;
}
.cont-lignes{
    width: 60px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.lignes{

    width: 100%;
    height: 6px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    transition: all 0.5 ease-in-out;
}
.lignes:nth-child(1){
    top:0px;
}
.lignes:nth-child(2){
    top:18px;
}
.lignes:nth-child(3){
    top:36px;
}
.btn1.active .lignes:nth-child(1){
top:18px;
transform: rotate(135deg);
}

.btn1.active .lignes:nth-child(2){
opacity: 0;
transform: translateX(-20px);
}
.btn1.active .lignes:nth-child(3){
top:18px;
transform: rotate(-135deg);
}

nav{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-row: 2fr;
    grid-template-areas: "logo accueil burger"
    ". . .";
}

.logo{
    grid-area: logo;
}
.accu{
    grid-area: accueil;
}
.box{
    grid-area: burger;
}


}
