* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h5{
    display: none;
}

main {
    height: 100%;
    width: 96%;
    background-color: #C5DAEF;
    margin-left: 2%;

}

.sect_bebe {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect_nuage{

    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    text-align: center;
    font-size: 3em;
}

.at_bebe {
    background-image: url(../../image/bebe.jpg);
    width: 400px;
    height: 235px;
    background-size: cover;
}

div>p{
    background-color: white;
    font-size: 2.5vw;
    margin-left: 15%;
    margin-right: 27%;
     
}

.nuage {
    background-image: url(../../nuage2.png);
    width: 1300px;
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

 @media (min-width:660px) and (max-width:960px){

    div>p{
        background-color: white;
        font-size: 2.5vw;
        margin-left: 15%;
        margin-right: 27%;
        
         
    }
    .nuage {
        background-image: url(../../nuage2.png);
        width: 850px;
        height: 450px;
        background-size: contain;
        background-repeat: no-repeat;
        display:flex;
        justify-content: center;
        align-items: center;
        
    }
    
} 
.lien{
    text-decoration: none;
    color:black;
}

@media (max-width:660px){

    main{
    width: 100%;
    margin-left: 0;

    }
    div>p{
        background-color: white;
        font-size: 2.5vw;
        margin-left: 15%;
        margin-right: 27%;
        
         
    }
    .nuage {
        background-image: url(../../nuage2.png);
        width: 500px;
        height: 250px;
        background-size: contain;
        background-repeat: no-repeat;
        display:flex;
        justify-content: center;
        align-items: center;
        
    }
    .smallScreen {
        display:none;
      }
.box{
    background-color: #AEDEC8;
    position: relative;
}
.cont-lignes{
    width: 60px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.lignes{

    width: 100%;
    height: 6px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    transition: all 0.5s ease-in-out;
}
.lignes:nth-child(1){
    top:0px;
}
.lignes:nth-child(2){
    top:18px;
}
.lignes:nth-child(3){
    top:36px;
}
.btn1.active .lignes:nth-child(1){
top:18px;
transform: rotate(135deg);
}

.btn1.active .lignes:nth-child(2){
opacity: 0;
transform: translateX(-20px);
}
.btn1.active .lignes:nth-child(3){
top:18px;
transform: rotate(-135deg);
}

nav{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "logo accueil burger";
}

.logo{
    grid-area: logo;
}
.accu{
    grid-area: accueil;
}
.box{
    grid-area: burger;
}
} 
.border_img{
    border:2px solid black;
    box-shadow: 0 3px 2px gray;
    border-radius: 30px;

}

@media (max-width:430px){
    .nuage {
        background-image: none;
}
.at_bebe {
    background-image: url(../../image/bebe.jpg);
    width: 350px;
}
div>p{
    font-size: 4vw;
    background-color: #C5DAEF;   
}
}