* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    height: 100%;
    width: 96%;
    background-color: #C5DAEF;
    margin-left: 2%;

}

.sect_tricot {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect_nuage{

    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    text-align: center;
    font-size: 3em;
}

.at_tricot {
    background-image: url(../../image/tricot.jpg);
    width: 400px;
    height: 235px;
    background-size: cover;
}

div>p{
    background-color: white;
    font-size: 2.5vw;
    margin-left: 15%;
    margin-right: 27%;
     
}

.nuage {
    background-image: url(../../nuage2.png);
    width: 1300px;
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.border_img{
    border:2px solid black;
    box-shadow: 0 3px 2px gray;
    border-radius: 30px;

}
.lien{
    text-decoration: none;
    color:black;
}

 @media (min-width:660px) and (max-width:960px){

    div>p{
        background-color: white;
        font-size: 2.5vw;
        margin-left: 15%;
        margin-right: 27%;
        
         
    }
    .nuage {
        background-image: url(../../nuage2.png);
        width: 850px;
        height: 450px;
        background-size: contain;
        background-repeat: no-repeat;
        display:flex;
        justify-content: center;
        align-items: center;
        
    }
} 

@media (max-width:660px){

    div>p{
        background-color: white;
        font-size: 2.5vw;
        margin-left: 15%;
        margin-right: 27%;
        
         
    }
    .nuage {
        background-image: url(../../nuage2.png);
        width: 500px;
        height: 250px;
        background-size: contain;
        background-repeat: no-repeat;
        display:flex;
        justify-content: center;
        align-items: center;
        
    }
} 