* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    height: 100%;
    width: 96%;
    background-color: #C5DAEF;
    margin-left: 2%;

}

/*titre creation */

.sect_patron {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.sect_nuage {
    background-image: url(../../nuage2.png);
    width: 1300px;
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
h1 {
    text-align: center;
    font-size: 3em;
}
.bg_patron {
    background-image: url(../../image/patron.jpg);
    width: 450px;
    height: 270px;
    background-size: cover;
    border:2px solid black;
    box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    
}

/*fin titre creation */

.patron_at{
    height: 70%;
    width: 100%;
    display: grid;
    grid-column: 2fr;
    grid-row: 3fr;
    grid-template-areas: 
    "robe1 jupe"
    "tricot noel"
    "halloween .";
    gap:100px;
    padding-bottom: 50px;
    padding-left: 7%;
}
.robe1{
    grid-area: robe1;
    background-image:url(photo/patron/tamara-bellis-mNZ-GvOQUUY-unsplash\ \(1\).jpg);
    
    border:2px solid black;
    
}
.jupe{
    grid-area: bebe;
    background-image: url(photo/patron/tamara-bellis-jYdRUFgba8k-unsplash.jpg);
    
}
.robe2{
    grid-area: tricot;
    background-image: url(photo/patron/mode-vetement-pour-enfants-5-robes-qui-tournent-pour-filles-robe-plissee.jpg);
    
}


.bgi{
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    width: 500px;
    border:2px solid black;
    box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.25));
}

article{
    display:flex;
    flex-direction: center;

}