* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    height: 100%;
    width: 96%;
    background-color: #C5DAEF;
    margin-left: 2%;

}

/*titre creation */

.sect_patron {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.sect_nuage {
    background-image: url(../../nuage2.png);
    width: 1300px;
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
h1 {
    text-align: center;
    font-size: 3em;
}
.bg_patron {
    background-image: url(../../image/patron.jpg);
    width: 450px;
    height: 270px;
    background-size: cover;  
}

/*fin titre creation */

.patron_at{
    height: 70%;
    width: 100%;
    display: grid;
    grid-column: 2fr;
    grid-row: 2fr;
    grid-template-areas: 
    "robe1 jupe"
    "robe2 .";
    gap:100px;
    padding-bottom: 50px;
    padding-left: 7%;
}
.robe1{
    grid-area: robe1;
    background-image:url(photo/patron/tamara-bellis-mNZ-GvOQUUY-unsplash\ \(1\).jpg);  
}

.jupe{
    grid-area: jupe;
    background-image: url(photo/patron/tamara-bellis-jYdRUFgba8k-unsplash.jpg);   
}

.robe2{
    grid-area: robe2;
    background-image: url(photo/patron/mode-vetement-pour-enfants-5-robes-qui-tournent-pour-filles-robe-plissee.jpg);
    
}


.bgi{
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    width: 500px;
    border:2px solid black;
    box-shadow: 0 3px 2px gray;
    border-radius: 30px;
}

article{
    display:flex;
    flex-direction: center;

}
.lien{
    text-decoration: none;
    color:black;
}
@media (max-width:1100px){
    .sect_nuage{
        background-image: none;
        height: 350px;
    }
    main{
        width: 100%;
        margin-left: 0;
    }
    .patron_at{
        grid-column: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
    "robe1" 
    "jupe"
    "robe2";
    justify-content: center;
    padding-left: 0;

    }
    .bgi{
        width: 500px;
    }

}

@media (max-width:600px){

.bgi{
    height: 200px;
    width: 350px;

}
.bg_creation{
    width: 350px;
}
}