* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    height: 100%;
    width: 96%;
    background-color: #C5DAEF;
    margin-left: 2%;

}

/*titre creation */

.sect_tuto {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.sect_nuage {
    background-image: url(../../nuage2.png);
    width: 1300px;
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
h1 {
    text-align: center;
    font-size: 3em;
}
.bg_tuto {
    background-image: url(../../image/tuto.jfif);
    width: 450px;
    height: 270px;
    background-size: cover;
    border:2px solid black;
    box-shadow: 0 3px 2px gray;
    
    
}

/*fin titre creation */

.tuto_at{
    height: 70%;
    width: 100%;
    display: grid;
    grid-column: 2fr;
    grid-row: 1fr;
    grid-template-areas: 
    "echarpe sac";
    gap:100px;
    padding-bottom: 50px;
    padding-left: 7%;
}
.echarpe{
    grid-area: echarpe;
    background-image:url(photo/tuto/tuto-echarpe-tricot-debutant-diy-alice-gerfault-une.webp);
    border:2px solid black;
    
}
.sac{
    grid-area: sac;
    background-image: url(photo/tuto/38830103-33698764.jpg);
    
}

.bgi{
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    width: 500px;
    border:2px solid black;
    box-shadow: 0 3px 2px gray;
}

article{
    display:flex;
    flex-direction: center;

}

.border_img{
    border:2px solid black;
    box-shadow: 0 3px 2px gray;
    border-radius: 30px;

}
.lien{
    text-decoration: none;
    color:black;
}

@media (max-width:1100px){
    .sect_nuage{
        background-image: none;
        height: 350px;
    }
    main{
        width: 100%;
        margin-left: 0;
    }
    .tuto_at{
        grid-column: 1fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
    "echarpe" 
    "sac";
    justify-content: center;
    padding-left: 0;

    }
    .bgi{
        width: 380px;
    }
    .smallScreen {
        display:none;
      }
    .box{
        background-color: #AEDEC8;
        position: relative;
    }
    .cont-lignes{
        width: 60px;
        height: 42px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }
    .lignes{
    
        width: 100%;
        height: 6px;
        border-radius: 5px;
        background-color: black;
        position: absolute;
        transition: all 0.5 ease-in-out;
    }
    .lignes:nth-child(1){
        top:0px;
    }
    .lignes:nth-child(2){
        top:18px;
    }
    .lignes:nth-child(3){
        top:36px;
    }
    .btn1.active .lignes:nth-child(1){
    top:18px;
    transform: rotate(135deg);
    }
    
    .btn1.active .lignes:nth-child(2){
    opacity: 0;
    transform: translateX(-20px);
    }
    .btn1.active .lignes:nth-child(3){
    top:18px;
    transform: rotate(-135deg);
    }
    
    nav{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-row: 2fr;
        grid-template-areas: "logo accueil burger"
        ". . .";
    }
    
    .logo{
        grid-area: logo;
    }
    .accu{
        grid-area: accueil;
    }
    .box{
        grid-area: burger;
    }
}