* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Sacramento");

/* debut header*/

body {
    font-family: Sacramento, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

.head {
    margin: 0;
    padding: 0;

}

nav {
    width: 100%;
    height: 10%;
    display: inline-flex;
    background: #AEDEC8;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 3px 2px gray;
}

li a {
    list-style: none;
    font-size: 2.5em;
    color: black;
    text-decoration: none;
    text-shadow: 0 1px 1px gray;
}

.bar {
    display: inline-block;
    background: #AEDEC8;
    padding-left: 7vw;
}

a:hover {
    border-color: black;
}

ul>li {
    margin: 0 1rem;
    overflow: hidden;
}

nav img {
    width: 125px;
    height: 60px;
    box-shadow: none;

}
/* fin header */
#hidden {
    display: block;
    background-color: black;
    position: absolute;
    height: 5px;
    width: 30px;
    cursor: pointer;
    right: 10px;
}
.ligne {
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: black;
}
#hidden::before,
#hidden::after {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
}
#hidden::before {
    content: '';
    margin-top: -10px;
}
#hidden::after {
    content: '';
    margin-top: 0px;
}
@media (max-width: 690px) {
    #hidden~ul li {
        height: 0;
        margin: -10px;
        padding: 0;
        border: 0;
    }
    body {
        background-color: #C5DAEF;
    }

    section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
    }

    .bye {
        display: none;
    }

    #hidden:checked~ul li {
        height: 5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    ul {
        display: none;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
    }
}

/*debut footer*/

.contact {

    text-align: center;
    font-size: 2em;
    margin-bottom: -0.5em;
    font-weight: bold;
}

footer {
    font-family: Sacramento, Arial, Helvetica, sans-serif;
    background-color: #aedec8;
    text-align: center;
    text-shadow: 0 1px 1px gray;
    font-size: 2em;
}

.ireseaux> {
    list-style: none;
}

.lreseaux {
    display: inline-block;
    padding: 25px;
}

img {
    min-width: 2px;
    height: 75px;
    box-shadow: 0 3px 2px gray;
}

/*fin footer*/
main {
    height: 100%;
    width: 96%;
    background-color: #C5DAEF;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sect_nuage {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nuage {
    background-image: url(../../nuage2.png);
    width: 350px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.ima {
    display: flex;
    justify-content: center;

}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 30px;
}

article img {
    width: 600px;
    height: 450px;
    image-resolution: 100%;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 0 3px 2px gray;
}

@media (min-width:820px) {
    #hidden {
        visibility: hidden;
    }

    .yop {
        display: none;
    }
}

@media (max-width:1220px) {
    article img {
        width: 500px;
        height: 350px;
    }
}

@media (max-width:1000px) {
    article img {
        width: 450px;
        height: 300px;
    }
}

@media (max-width:820px) {
    article img {
        width: 350px;
        height: 200px;
    }
}

@media (max-width:620px) {
    article img {
        width: 300px;
        height: 150px;
    }
}
@media (min-width:690px) {
    .hello {
display: none;
    }
}
