@import url("https://fonts.googleapis.com/css?family=Sacramento");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* debut header*/

body {
    font-family: Sacramento, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}
h5{
    display: none;
}
.head {
    margin: 0;
    padding: 0;

}

nav {
    width: 100%;
    height: 10%;
    display: inline-flex;
    background: #AEDEC8;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 3px 2px gray;
}

li a {
    list-style: none;
    font-size: 2.5em;
    color: black;
    text-decoration: none;
    text-shadow: 0 1px 1px gray;
}

.bar {
    display: inline-block;
    background: #AEDEC8;
    padding-left: 7vw;
}

a:hover {
    border-color: black;
}

ul>li {
    margin: 0 1rem;
    overflow: hidden;
}

nav img {
    width: 125px;
    height: 60px;
    box-shadow: none;

}
/* fin header */
@media (max-width: 690px) {
    body {
        background-color: #C5DAEF;
        
    }
    main{
        margin-top: 4px;
    }
    .smallScreen {
        display:none;
      }
.box{
    background-color: #AEDEC8;
    position: relative;
}
.cont-lignes{
    width: 60px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.lignes{

    width: 100%;
    height: 6px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    transition: all 0.5s ease-in-out;
}
.lignes:nth-child(1){
    top:0px;
}
.lignes:nth-child(2){
    top:18px;
}
.lignes:nth-child(3){
    top:36px;
}
.btn1.active .lignes:nth-child(1){
top:18px;
transform: rotate(135deg);
}

.btn1.active .lignes:nth-child(2){
opacity: 0;
transform: translateX(-20px);
}
.btn1.active .lignes:nth-child(3){
top:18px;
transform: rotate(-135deg);
}

nav{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "logo accueil burger";
}

.logo{
    grid-area: logo;
}
.accu{
    grid-area: accueil;
}
.box{
    grid-area: burger;
}
    section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*debut footer*/

.contact {

    text-align: center;
    font-size: 2em;
    margin-bottom: -0.5em;
    font-weight: bold;
}

footer {
    font-family: Sacramento, Arial, Helvetica, sans-serif;
    background-color: #aedec8;
    text-align: center;
    text-shadow: 0 1px 1px gray;
    font-size: 2em;
}

.ireseaux {
    list-style: none;
}

.lreseaux {
    display: inline-block;
    padding: 25px;
}

img {
    min-width: 2px;
    height: 75px;
    box-shadow: 0 3px 2px gray;
}

/*fin footer*/
main {
    height: 100%;
    width: 96%;
    background-color: #C5DAEF;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sect_nuage {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nuage {
    background-image: url(../../nuage2.png);
    width: 350px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.ima {
    display: flex;
    justify-content: center;

}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 30px;
}

article img {
    width: 600px;
    height: 450px;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 0 3px 2px gray;
}

@media (min-width:820px) {
    #hidden {
        visibility: hidden;
    }

    .yop {
        display: none;
    }
}

@media (max-width:1220px) {
    article img {
        max-width: 500px;
        max-height: 350px;
    }
}

@media (max-width:1000px) {
    article img {
        max-width: 400px;
        max-height: 250px;
    }
}

@media (max-width:820px) {
    article img {
        max-width: 400px;
        max-height: 250px;
    }
}

@media (max-width:620px) {
    article img {
        max-width: 400px;
        max-height: 250px;
    }
}
@media (min-width:690px) {
    .hello {
display: none;
    }
}